Semester_2/HomeWork_3/personal_assistant_cli/doc/SortManager_commands.txt
Semester_2/HomeWork_3/personal_assistant_cli/doc/NoteBook_commands.txt
Semester_2/HomeWork_3/personal_assistant_cli/doc/AddressBook_commands.txt
Semester_2/HomeWork_3/personal_assistant_cli/core/sort_manager/sort_manager.py
Semester_2/HomeWork_3/personal_assistant_cli/core/sort_manager/__init__.py
Semester_2/HomeWork_3/personal_assistant_cli/core/note_book/note_book.py
Semester_2/HomeWork_3/personal_assistant_cli/core/note_book/note_book_input_provider.py
Semester_2/HomeWork_3/personal_assistant_cli/core/note_book/__init__.py
Semester_2/HomeWork_3/personal_assistant_cli/core/context_analyzer/fuzz.py
Semester_2/HomeWork_3/personal_assistant_cli/core/context_analyzer/context_analyzer.py
Semester_2/HomeWork_3/personal_assistant_cli/core/context_analyzer/__init__.py
Semester_2/HomeWork_3/personal_assistant_cli/core/common/verify.py
Semester_2/HomeWork_3/personal_assistant_cli/core/common/identifier.py
Semester_2/HomeWork_3/personal_assistant_cli/core/common/help_with_commands.py
Semester_2/HomeWork_3/personal_assistant_cli/core/common/db_config.py
Semester_2/HomeWork_3/personal_assistant_cli/core/common/create_pretty_table.py
Semester_2/HomeWork_3/personal_assistant_cli/core/common/common.py
Semester_2/HomeWork_3/personal_assistant_cli/core/address_book/address_book.py
Semester_2/HomeWork_3/personal_assistant_cli/core/common/__init__.py
Semester_2/HomeWork_3/personal_assistant_cli/core/address_book/address_book_input_provider.py
Semester_2/HomeWork_3/personal_assistant_cli/core/address_book/__init__.py
Semester_2/HomeWork_3/personal_assistant_cli/core/__init__.py
Semester_2/HomeWork_3/personal_assistant_cli/main.py
Semester_2/HomeWork_3/personal_assistant_cli/__init__.py
