<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>about</title>
</head>

<body style="text-align:center">
    <h1>This is personal assistant</h1>
    <h2>You can do many tasks with it</h2>
    <h2>but now you have to</h2>
    <!-- <li><a href="{{ url_for('about') }}">about</a>
    <li><a href="{{ url_for('index') }}">index</a> -->
    <a href="{{ url_for('login') }}">login</a> OR <a href="{{ url_for('register') }}">register</a>

    <!-- <a href="{{ url_for('register') }}">Register</a> or <a href="{{ url_for('login') }}">Log in</a> -->
</body>

</html>