{% extends "base.html" %}

{% block content %}
    <h2>Sing in</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }} <br>
            {{ form.username(size=32) }} <br>
            {% for error in form.username.errors %}
            <span style="color: red;"> [{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.lable }} <br>
            {{ form.password(size=32) }} <br>
            {% for error in form.password.errors %}
            <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p> {{form.remember_me()}} {{ form.remember_me.lable }} </p>
        <p> {{form.submit() }} </p>

        <p> 
            Want me to assist you? 
            <a href="{{ url_for('register') }}">
                Click to register
            </a> 
        </p>
    </form>
    {% endblock %}